.detailVak_box,
.detailOef_box {
    max-width: 60rem;
    background-color: #d4d4d4;
    padding: 2rem;
    border-radius: 1rem;
    margin: 4rem auto;
}
.detailOef_box a {
    margin-right: auto;
}
.title_detailVak h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #282828;
    font-family: "poppins-medium";
}
.title_box h2,
.detailOef_box h2 {
    font-size: 2rem;
    color: #282828;
    font-family: "poppins-medium";
    margin: 1rem 0 1rem 0;
}
.title_box p {
    font-size: 1rem;
    color: #282828;
    font-family: "poppins-light";
}
.title_box h4 {
    font-size: 1.5rem;
    color: #282828;
    font-family: "poppins-medium";
    margin: 1rem 0 1rem 0;
}
.title_box a {
    font-size: 1rem;
    color: #282828;
    font-family: "poppins-medium";
}
.description_detailVak h3 {
    font-size: 1.5rem;
    color: #282828;
    font-family: "poppins-medium";
    margin: 1rem 0 1rem 0;
}
.description_detailVak p {
    font-size: 1.5rem;
    color: #282828;
    font-family: "poppins-light";
}
.gray__background {
    background: var(--background-gray);
    width: 70%;
    height: 50%;
    margin: 0 auto;
    margin-top: 2rem;
}

.grid__subjects {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.grid__subjects ul,
.grid__subjects a {
    box-sizing: border-box;
    width: 13.0625rem;
    height: 10.5rem;
    left: 0rem;
    top: 0rem;

    border-radius: 0.9375rem;
}

.grid__subjects ul {
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.grid__subjects a {
    display: flex;
    align-items: stretch;
    justify-content: center;
    color: var(--black-color);
    font-size: 2rem;
    text-decoration: none;
}

.delete__btn {
    background-color: transparent;
    border: none;
    font-size: initial;
    padding: 8px;
}

.grid__subjects ul li {
    list-style: none;
}

.link__grid__subject {
    border: 0.0625rem solid var(--light-gray);
}
.subjects__title a {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.subjects__title form svg,
.list__exercises svg {
    width: 1.5rem;
}
.subjects__title li:first-child {
    width: 4.6875rem;
    height: 4.6875rem;
    display: flex;
    background: var(--subject-blue);
    border-radius: 0.3125rem;
    align-items: center;
    font-size: 1.5rem;
    color: var(--white-color);
    justify-content: center;
}
.subjects__title li {
    font-size: 1rem;
    margin-top: 0.3rem;
    font-family: "poppins-medium";
    color: var(--black-color);
}
.space__subject-main {
    max-width: 65rem;
    margin: 0 auto;
}

.from-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.from-box a {
    align-self: flex-start;
    margin-top: 2rem;
}
.list__comments li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.list__exercises li {
    display: flex;
    align-items: center;
    border: 2px solid var(--light-gray);
    margin-bottom: 1rem;
}
.list__exercises form {
    margin-right: 1rem;
    border-right: 2px solid var(--light-gray);
}
.list__exercises button {
    width: 3rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detailOef_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add__exercise-box label,
select,
button {
    font-size: 1.5rem;
    color: #282828;
    font-family: "poppins-medium";
    margin: 0.5rem 0 0.5rem 0;
}
.add__exercise-box button {
    background-color: rgb(92, 207, 102);
    border-radius: 1rem;
}

@media (min-width: 10rem) {
    .user__choice li a img {
        max-width: 80%;
    }
    .user__choice li a {
        display: flex;
        justify-content: center;
    }
}
@media (min-width: 50rem) {
    .user__choice li a img {
        max-width: 100%;
    }
}
