
@font-face {
    font-family: 'poppins-light';
    src: url('../Font/poppins-light-webfont.woff2') format('woff2'),
        url('../Font/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppins-medium';
    src: url('../Font/poppins-medium-webfont.woff2') format('woff2'),
        url('../Font/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root{
    --background-blue: hsl(209, 65%, 28%);
    --background-circle: hsl(209, 53%, 23%);
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
    --background-header: hsl(208, 100%, 97%);
}


body{
    background-color: var(--background-blue);
    overflow-x: hidden;
}

ul{
    padding: 0;
}

.background__right{
    left: 37.375rem;
    top: -36.8125rem;
}

.background__left{
    left: -55.1875rem;
    top: 12.125rem;
    }

.background__left, .background__right{
position: absolute;
width: 80.8125rem;
height: 80.8125rem;
border-radius: 50%;
z-index: -1;
background: var(--background-circle)
}

.log__avatar{
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.head-box{
    background-color:  var(--background-header);
    box-shadow: 0rem .25rem .625rem var(--background-header);
}

.head-space{
    padding: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    max-width: 65rem;
    margin: 0 auto;
}

@media (min-width: 50rem) {
    .head-space{
        justify-content: space-between;
    }
}

.logo__head{
    min-width: 12.5rem;
}

.nav-button{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav__btn{
    background: var(--white-color);
    border: .125rem solid var(--white-color);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: .125rem .875rem;
    font-family: 'poppins-light';
    font-size: small;
}

@media (min-width: 39.9375rem) {
    .log__avatar{
        flex-direction: row;
    }
}

.avatarImg {
    border: .125rem dashed hsl(0, 0%, 80%);
    padding: .625rem;
    text-align: center;
    cursor: pointer;
}

.avatarImg span {
    display: block;
    margin-top: .625rem;
}

.preview {
    max-width: 12.5rem;
    max-height: 12.5rem;
}

.avatarsContainer img{
    border-radius: 50%;
    border: .0625rem solid var(--white-color);
}

.avatarsContainer{
    width: 3rem;
}

.home__space-area{
    max-width: 65rem;
    margin: 0 auto;
    padding: 1rem;
}


.category{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.category a{
    width: 20rem;
}

@media (min-width: 50rem) {
    .category a{
        width: 16rem;
    }
    .category{
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;
        flex-wrap: wrap;
        gap: 0;
    }
}

.category-item{
    list-style: none;
}
.category-item img{
    border-radius: 1.1875rem;
    border: .125rem solid var(--black-color);
}

.white__background{
    background-color: var(--white-color);
}

.white__background .background__left{
    display: none;
}

.list__space{
    margin: 0 auto;
    max-width: 65rem;
}

.user__choice li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 50vh;
}

@media (min-width: 50rem ) {
    .user__choice li{
        height: 100vh;
    }
    .user__choice{
        display: flex;
        max-width: 65rem;
        margin: 0 auto;
    }
}

.title__arrow{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.title__arrow h1 {
    margin: 0 auto;
}

.allStudents{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.allStudents ul {
    display: flex;
    list-style: none;
    flex: none;
    width: 100%;
}

.allStudents ul:nth-child(odd) {
    background-color: #F7F6FE;
}

.allStudents ul:nth-child(even){
    background-color: white;
}

.allStudents ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 16px;
    width: 100%;
    height: 101px;
    overflow: hidden;
}

.allStudents ul li:first-child{
    width: 25%;
}

.allStudents ul li button{
    border: none;
    font: inherit;
    background-color: transparent;
}

.avatar__list img{
    width: 3rem;
}

.gray__background {
    background: rgb(217 217 217 / 51%);
    /* position: absolute; */
    width: 70%;
    height: 50%;
    /* left: 0px; */
    margin: 0 auto;
    margin-top: 2rem;
}

.grid__subjects{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

.grid__subjects ul, .grid__subjects a{
    box-sizing: border-box;
width: 209px;
height: 168px;
left: 0px;
top: 0px;

border: 1px solid #6A6A6A;
border-radius: 15px;
}

.grid__subjects ul{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid__subjects a{
    background: #ececec;
    background: #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 2rem;
    text-decoration: none;

}

.grid__subjects ul li{
    list-style: none;
}

.subjects__title li:first-child{
    width: 75px;
    height: 75px;
    display: flex;
    background: hsl(209.03, 40%, 60%);
    border-radius: 5px;
    align-items: center;
    font-size: 2rem;
    color: white;
    justify-content: center;
}

.space__subject-main{
    max-width: 65rem;
    margin: 0 auto;
}