@font-face {
    font-family: "poppins-light";
    src: url("../Font/poppins-light-webfont.woff2") format("woff2"),
        url("../Font/poppins-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppins-medium";
    src: url("../Font/poppins-medium-webfont.woff2") format("woff2"),
        url("../Font/poppins-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    --background-blue: hsl(209, 65%, 28%);
    --background-circle: hsl(209, 53%, 23%);
    --background-gray: hsla(0, 0%, 85%, 0.51);
    --light-gray: hsl(0, 0%, 42%);
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 16%);
    --background-header: hsl(208, 100%, 97%);
    --avatar-img: hsl(0, 0%, 80%);
    --background-box: hsl(0, 0%, 83%);
    --white-blue: hsl(248, 80%, 98%);
    --subject-blue: hsl(209.03, 40%, 60%);
    --button-box: hsla(209, 65%, 28%, 0.702);
}

body {
    background-color: var(--background-blue);
    overflow-x: hidden;
}
.home {
    overflow: hidden;
}
ul {
    padding: 0;
}

label,
input {
    font-family: "poppins-light";
}

.background__right {
    left: 37.375rem;
    top: -36.8125rem;
}

.background__left {
    left: -55.1875rem;
    top: 12.125rem;
}

.background__left,
.background__right {
    position: absolute;
    width: 80.8125rem;
    height: 80.8125rem;
    border-radius: 50%;
    z-index: -1;
    background: var(--background-circle);
}

.log__avatar {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.head-box {
    background-color: var(--background-header);
    box-shadow: 0rem 0.25rem 0.625rem var(--background-header);
}

.head-space {
    padding: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    max-width: 65rem;
    margin: 0 auto;
}

@media (min-width: 50rem) {
    .head-space {
        justify-content: space-between;
    }
}

.logo__head {
    min-width: 12.5rem;
}

.nav-button {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav__btn {
    background: var(--white-color);
    border: 0.125rem solid var(--white-color);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.125rem 0.875rem;
    font-family: "poppins-light";
    font-size: small;
}

@media (min-width: 39.9375rem) {
    .log__avatar {
        flex-direction: row;
    }
}

.avatarImg {
    border: 0.125rem dashed var(--avatar-img);
    padding: 0.625rem;
    text-align: center;
    cursor: pointer;
    border-radius: 2rem;
    margin: 0 auto;
}
.form__upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.avatarImg span {
    display: block;
    margin-top: 0.625rem;
}

.uploadHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.preview {
    max-width: 12.5rem;
    max-height: 12.5rem;
}

.avatarsContainer img {
    border-radius: 50%;
    border: 0.0625rem solid var(--white-color);
}

.avatarsContainer {
    width: 3rem;
}

.home__space-area {
    font-family: "poppins-medium";
    max-width: 65rem;
    margin: 0 auto;
    padding: 1rem;
    max-height: 50vh;
}

.home__space-area h1 {
    text-align: center;
    color: var(--white-color);
}

.category {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.category a {
    width: 20rem;
}

@media (min-width: 50rem) {
    .category a {
        width: 16rem;
    }
    .category {
        display: flex;
        justify-content: space-evenly;
        padding-top: 2rem;
        flex-wrap: wrap;
        gap: 0;
    }
}

.category-item {
    list-style: none;
}

.category-item img {
    border-radius: 1.1875rem;
    border: 0.125rem solid var(--black-color);
}

.white__background {
    background-color: var(--white-color);
}

.white__background .background__left {
    display: none;
}

.list__space {
    margin: 0 auto;
    max-width: 65rem;
    font-family: "poppins-light";
}
.list__space h1 {
    text-align: center;
    color: var(--text-color);
    font-family: "poppins-medium";
}
.user__choice li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 50vh;
}

@media (min-width: 50rem) {
    .user__choice li {
        height: 100vh;
    }
    .user__choice {
        display: flex;
        max-width: 65rem;
        margin: 0 auto;
    }
}

.title__arrow {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.title__arrow h1 {
    margin: 0 auto;
}

.allStudents {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.allStudents ul {
    display: flex;
    list-style: none;
    flex: none;
    width: 100%;
}

.allStudents ul:nth-child(odd) {
    background-color: var(--white-blue);
}

.allStudents ul:nth-child(even) {
    background-color: var(--white-color);
}

.allStudents ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
    width: 100%;
    text-align: -webkit-center;
    height: 6.3125rem;
    overflow: hidden;
}

// .allStudents ul li:first-child {
//     width: 25%;
// }

.allStudents ul li button, .allStudents ul li a{
    border: none;
    font: inherit;
    width: 2rem;
    background-color: transparent;
}

.avatar__list img {
    width: 3rem;
}

.gray__background {
    background: var(--background-gray);
    width: 70%;
    height: 50%;
    margin: 0 auto;
    margin-top: 2rem;
}

.grid__subjects {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.grid__subjects ul,
.grid__subjects a {
    box-sizing: border-box;
    width: 13.0625rem;
    height: 13.5rem;
    left: 0rem;
    top: 0rem;
    border-radius: 0.9375rem;
}

.grid__subjects ul {
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.grid__subjects a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-color);
    font-size: 2rem;
    text-decoration: none;
    flex-direction: column;
}

.delete__btn {
    background-color: transparent;
    border: none;
    font-size: initial;
    padding: 0.5rem;
}

.grid__subjects ul li {
    list-style: none;
    text-align: -webkit-center;
}

.link__grid__subject {
    border: 0.0625rem solid var(--light-gray);
}

.subjects__title li:first-child {
    width: 4.6875rem;
    height: 4.6875rem;
    display: flex;
    background: var(--subject-blue);
    border-radius: 0.3125rem;
    align-items: center;
    font-size: 2rem;
    color: var(--white-color);
    justify-content: center;
}

.space__subject-main {
    max-width: 65rem;
    margin: 0 auto;
}

.from-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.from-box a {
    align-self: flex-start;
    margin-top: 2rem;
}

.title__box h1 {
    text-align: center;
    color: var(--white-color);
    font-family: "poppins-medium";
    padding-bottom: 1rem;
}

.add__subject-form {
    background: var(--white-blue);
    width: 28rem;
    border-radius: 0.3125rem;
    display: flex;
    align-items: center;
    height: 50vh;
}

.add__form-input {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.add__form-input input,
.add__form-input textarea {
    margin-bottom: 1rem;
}

form input {
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: var(--background-gray);
    border: 1px solid var(--black-color);
}

.text__box {
    display: flex;
    flex-direction: column;
}

.box__bottom {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
}

.add__exercise-box {
    display: flex;
    flex-direction: column;
    inline-size: max-content;
}

.list__exercises li {
    display: flex;
    list-style: none;
}

.detailVak_box,
.detailOef_box,
.update_box {
    max-width: 60rem;
    background-color: var(--background-box);
    padding: 2rem;
    border-radius: 1rem;
    margin: 4rem auto;
}
.detailOef_box a {
    margin-right: auto;
}
.title_detailVak h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--text-color);
    font-family: "poppins-medium";
}
.title_box h2,
.detailOef_box h2,
.update_box h2 {
    font-size: 2rem;
    color: var(--text-color);
    font-family: "poppins-medium";
    margin: 1rem 0 1rem 0;
}
.title_box p {
    font-size: 1rem;
    color: var(--text-color);
    font-family: "poppins-light";
}
.title_box h4 {
    font-size: 1.5rem;
    color: var(--text-color);
    font-family: "poppins-medium";
    margin: 1rem 0 1rem 0;
}
.title_box a {
    font-size: 1rem;
    color: var(--text-color);
    font-family: "poppins-medium";
    word-break: break-all;
}
.description_detailVak h3 {
    font-size: 1.5rem;
    color: var(--text-color);
    font-family: "poppins-medium";
    margin: 1rem 0 1rem 0;
}
.description_detailVak p {
    font-size: 1.5rem;
    color: var(--text-color);
    font-family: "poppins-light";
}
.gray__background {
    background: var(--background-gray);
    width: 70%;
    height: 50%;
    margin: 0 auto;
    margin-top: 2rem;
}

.grid__subjects {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.grid__subjects ul,
.grid__subjects a {
    box-sizing: border-box;
    width: 13.0625rem;
    height: 10.5rem;
    left: 0rem;
    top: 0rem;
    border-radius: 0.9375rem;
}

.grid__subjects ul {
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.grid__subjects a {
    display: flex;
    align-items: stretch;
    justify-content: center;
    color: var(--black-color);
    font-size: 2rem;
    text-decoration: none;
}

.delete__btn {
    background-color: transparent;
    border: none;
    font-size: initial;
    padding: 0.5rem;
}

.grid__subjects ul li {
    list-style: none;
}

.link__grid__subject {
    border: 0.0625rem solid var(--light-gray);
}
.subjects__title a {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.subjects__title form svg,
.list__exercises svg {
    width: 1.5rem;
}
.subjects__title li:first-child {
    width: 4.6875rem;
    height: 4.6875rem;
    display: flex;
    background: var(--subject-blue);
    border-radius: 0.3125rem;
    align-items: center;
    font-size: 1.5rem;
    color: var(--white-color);
    justify-content: center;
}
.subjects__title li {
    font-size: 1rem;
    margin-top: 0.3rem;
    font-family: "poppins-medium";
    color: var(--black-color);
}
.space__subject-main {
    max-width: 65rem;
    margin: 0 auto;
}

.from-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.from-box a {
    align-self: flex-start;
    margin-top: 2rem;
}
.list__comments li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.list__exercises li {
    display: flex;
    align-items: center;
    border: 0.125rem solid var(--light-gray);
    margin-bottom: 1rem;
}
.list__exercises form {
    margin-right: 1rem;
    border-right: 0.125rem solid var(--light-gray);
}
.list__exercises button {
    width: 3rem;
    height: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detailOef_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add__exercise-box label,
select,
button {
    font-size: 1.5rem;
    color: var(--text-color);
    font-family: "poppins-medium";
    margin: 0.5rem 0 0.5rem 0;
}
.add__exercise-box button {
    background-color: var(--button-box);
    border-radius: 1rem;
}
.space__subject-main {
    margin-top: 3rem;
}
@media (min-width: 10rem) {
    .user__choice li a img {
        max-width: 80%;
    }
    .user__choice li a {
        display: flex;
        justify-content: center;
    }
}
@media (min-width: 50rem) {
    .user__choice li a img {
        max-width: 100%;
    }
}

@media (max-width: 22.1875rem) {
    .allStudents ul li.remove {
        display: none;
    }
}

@media (max-width: 45.5625rem) {
    .allStudents ul li.remover {
        display: none;
    }
}