<body class="white__background">
  {{> header}}
  <main>
    <a href="/vakken">
      <img src="/assets/img/goLeft.svg" alt="left arrow">
    </a>
    {{#with detailSubject}}
      <h1>{{naam}}</h1>
      <p>{{abbreviation}}</p>
    {{/with}}
    <div class="detailVak__content">
     {{> getExercises}}
    </div>
   
  </main>
</body>