<body class="white__background">
  {{> header}}
  <main>
    
      {{#with detailSubject}}
      <div class="detailVak_box">
        <a href="/vakken">
      <img src="/assets/img/goLeft.svg" alt="left arrow">
    </a>
<div class="title_detailVak"><h1>Vak: {{naam}}</h1></div>
<div class="title_box"><h2>{{naam}}</h2></div>
<div class="description_detailVak"><p>{{description}}</p>

</div>
    {{/with}}
    <div class="title_box">
    
     {{> getExercises}}
   
     {{> listComments}}
    </div>
     </div>
  </main>
</body>