<body class="white__background">
    <main>
{{# detailSubject}}
    
    <h1>{{naam}}</h1>
    <p>{{abbreviation}}</p>

{{/detailSubject}}

{{#each detailExercises}}

<a href="{{link}}">{{link}}</a>

{{/each}}
</main>

</body>
