<body class="white__background" >
    <div class="background__right ">
    </div>
{{> header}}
<main>
    <div>
        {{> classPageHead}}
    </div>
    <div>
        {{> classPage}}
    </div>
</main>
</body>