<body class="white__background" >
    <div class="background__right ">
    </div>
{{> header}}

<main>
<div class="space__subject-main">
    <a href="/">
        <img src="/assets/img/goLeft.svg" alt="left arrow">
    </a>
</div>

<div class="gray__background">

    <div class="grid__subjects">
    {{> subjectPage}}
    <a class="link__grid__subject" href="/vakken/toevoegen" >

    <div class="grid__subjects">
            +
    </div>
    </a>
    </div>

</div>
</main>
</body>