<ul>
    <li>
        klas
    </li>
    <li>
        aantal Leerlingen
    </li>
    <li>
        leerkrachten
    </li>
     <li>
       <a href="/registerstudent">
        <img src="assets/img/addIcon.svg" alt="add icon">
        </a>
    </li>
</ul>