<a href="/">
    <img src="/assets/img/goLeft.svg" alt="left arrow">
</a>
<ul class="user__choice">
    <li>
        <a href="/student">
            <img src="assets/img/student.png" alt="student">
        </a>
    </li>
    <li>
        <a href="/teacher">
            <img src="assets/img/teacher.png" alt="teacher">
        </a>
    </li>
</ul>


