
<h2>Oefeningen</h2>
      <ul class="list__exercises">
        {{#each detailExercises}}
        <li>
          <div>
            <p>{{naam}}</p>
            <a href="{{link}}">{{link}}</a>
            <p>Niveau: {{niveau}}</p>
          </div>
        </li>
        {{/each}}

      </ul>
