<ul class="category">
    <a href="/klassen">
    <li class="category-item">
        <img src="assets/img/klassen.jpg" alt="class category">
    </li>
    </a>

    <a href="/vakken">
     <li class="category-item">
        <img src="assets/img/vakken.jpg" alt="subject category">
    </li>
    </a>
    <a href="/oefeningen">
     <li class="category-item">
        <img src="assets/img/oefeningen.jpg" alt="exercises category ">
    </li>
    </a>
</ul>