<header class="head-box">
    <div class="head-space">
        <div class="logo__head">
            <a href="/">
                <img src="/assets/img/logo-atwork2-removebg1.png" alt="logo">
            </a>
        </div>
        <div class="nav-button">
            <div class="log__avatar">
                <form action="/logout" method="post">
                    <button class="nav__btn" type="submit" class="logout">Logout</button>
                </form>
                {{>avatars}}
            </div>
        </div>
    </div>
</header>