<ul class="category">
    <a href="/gebruikers">
    <li class="category-item">
        <img src="assets/img/users.jpg" alt="class category">
    </li>
    </a>
    <a href="/vakken">
     <li class="category-item">
        <img src="assets/img/vakken.jpg" alt="subject category">
    </li>
    </a>
</ul>