<div class="allStudents">
<ul >
    <li>Naam</li>
    <li class="remove remover">Avatar</li>
     <li  class="remove remover">Email</li>
    <li  class="remove remover">Geboorte datum</li>
   
    <li>
        <a href="/registerteacher">
        <img src="assets/img/addIcon.svg" alt="add icon">
        </a>
    </li>
</ul>
</div>
