<ul>
    {{#each allUserMetas}}
    <li>{{id}}</li>
    <li>
        <img src="" alt="">
    </li>
    <li>name</li>
    <li>lastName</li>
    <li>birth </li>
    <li>class  </li>
    <li>  bulian </li>
    <li>
        <img src="assets/img/edit.svg" alt="change">
        <img src="assets/img/delete.svg" alt="delete">
    </li>
    {{/each}}
</ul>