<h2>Commentaar</h2>
    <ul class="list__comments">
        {{#each detailCommants}}
        <li>
            <p>{{inhoud}}</p>
        </li>
        {{/each}}
    </ul>
        <a href="/comments">
            Voeg een commentaar toe
        </a>