<div class="allStudents">
<ul>
    <li class="remove">Nummer</li>
    <li>Naam</li>
    <li class="remove remover">Avatar</li>
    <li class="remove">Email</li>
    <li class="remove remover">Geboorte datum</li>
    <li class="remove remover">Gebroote plaats</li>
    <li>Klas</li>
    <li class="remove">Adres</li>
</ul>
</div>
