<ul>
    <li>Leerlingennummer</li>
    <li>Avatar</li>
    <li>Naam</li>
    <li>Achternaam</li>
    <li>Geboorte Datum</li>
    <li>Klas</li>
    <li>Status</li>
    <li>Action</li>
    <li><img src="assets/img/addIcon.svg" alt="add icon"></li>
</ul>