<div class="allStudents">
<ul >
    <li>Nummer</li>
    <li>Naam</li>
    <li>Avatar</li>
     <li>Email</li>
    <li>Geboorte datum</li>
    <li>Klas</li>
    <li>Adres</li>
    <li>
        <button>
        <img src="assets/img/addIcon.svg" alt="add icon">
        </button>
    </li>
</ul>
</div>
