{{#each allSubjects}}
    <div>
        <div>
            <ul class="subjects__title">
                <a href="/vakken/{{id}}">
                    <li>{{description}}</li>
                    <li>{{naam}}</li>
                </a>
            </ul>
        </div>
    </div>
{{/each}}